.section1_paragraph {

    top: 50%;
    transform: translate(0, -50%);

}

.text {
    max-width:none !important;
    width: 680px !important;
}

a {
    color: inherit;
    text-decoration: none;
}


.section2 {
    margin-top: 30px;
}

.section2 a {
    height: 80px;
    width: 80px;
}

.section2_icons {
    height: 100px;
}
.section2_bg {
    top: 0;
    height: 100px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {

    .title_wrapper img {
        display: none;
        visibility: hidden;
    }

    .title {
        font-size: 24px;
    }

    .navigation ul {
        gap: 5px;
    }

    .navigation a {
        font-size: 12px;
        align-items: center;
    }

    .navigation img {
        width: 30%;
    }

    .section1 {
        flex-direction: column;
    }

    .section1_title {
        font-size: 24px;
        justify-content: center;
    }

    .section1_title img {
        width: 40%;
    }

    .section1_paragraph_wrapper {
        width: 100%;
    }

    .section1_paragraph_wrapper img {
        margin: 0 auto;
    }

    .section1_paragraph {
        left: 10%;
        width: 80%;
        font-size: 16px;

    }

    .section2 {
        height: 60px;

    }

    .section2_icons {
        width: 100%;
    }

    .section2_icons img {
        width: 5%;
    }

    .section2_bg {
        top: -20%;
    }

    .section2_icons {
        height: 60px;
    }
    .section2_bg {
        top: 0;
        height: 60px;
        width: 100%;
        object-fit: cover;
    }


    .section3_main {
        gap: 20px;
        min-height: auto;
        padding-bottom: 80px;
    }

    .section3 img {
        width: 15%;
    }

    .section3 h1 {
        font-size: 24px;
    }

    .section3_row {
        gap: 20px;
        flex-direction: column;
    }

    .section3_row h2 {
        font-size: 18px;
    }

    .section3_row h3 {
        font-size: 14px;
    }

    .section3_item {
        width: 100%;
    }

    .section4_main {
        gap: 20px;
    }

    .section4_main div {
        width: 50%;
    }

    .section4_main h1 {
        font-size: 24px;
    }

    .section4_main p {
        font-size: 16px;
    }


    .section5_main {
        gap: 30px;
    }

    .section5_title {
        font-size: 24px;
        justify-content: center;

    }

    .section5_title img {
        width: 20%;
    }

    .section5_item {
        width: 100%;
    }

    .section5_item h3 {
        font-size: 18px;
    }

    .section5_item p {
        font-size: 14px;
    }

    .section5_row {
        gap: 30px;
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        font-size: 14px;
        gap: 50px;
        padding: 0 20px;
        text-align: center;
        align-items: center;
    }

    footer p {
        width: 100%;
        word-wrap: break-word;
    }

    footer img {
        width: 50%;
    }
}

@media (min-width: 769px) {
    .section1_title {
        font-size: 24px;
        padding-left: 3%;
        width: 50%;
    }

    .section1_paragraph_wrapper {
        width: 50%;
        padding-right: 3%;
    }

    .section1_paragraph_wrapper img {
        margin-right: 0;
        margin-left: auto;

    }

    .section1_paragraph {
        font-size: 18px;
        width: 90%;
        left: auto;
        right: 3%;
        top: 50%;
        transform: translate(0, -50%);
    }

    .section2_icons {
        height: 80px;
    }
    .section2_bg {
        top: 0;
        height: 80px;
        width: 100%;
        object-fit: cover;
    }

    .section3_main h1{
        font-size: 36px;
    }

    .section3_main h2 {
        font-size: 24px;
    }

    .section3_main h3 {
        font-size: 18px;
    }

    .section4_main {
        gap: 20px;
    }

    .section4_main h1 {
        font-size: 30px;
    }

    .section4_main p {
        font-size: 24px;
    }

    .section5_title {
        justify-content: center;
        font-size: 36px;
    }

    .section5_row {
        gap: 20px;
        justify-content: center;
    }


}