* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Jost", sans-serif;
}

img, picture, video, canvas {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

